
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Servers</title>

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Devon</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
              <div class="text-center">
                <br>
                <label><b>Choose Storage</b></label>
                  <nouislider [connect]="true" [min]="0" [max]="11" [step]="1" [(ngModel)]="storageRange" (ngModelChange)="onFiltersChange($event)" (change)="onFiltersChange($event)"></nouislider>
                <p class="text-center">{{storageRangeText}}</p>
                <hr>
              </div>
              <div class="text-center">
                  <label><b>Select RAM</b></label>

                  <div *ngFor="let ram of ramValues; let i=index"  >
                      <input type="checkbox" value="{{ram}}" name="{{ram}}" [(ngModel)]="selectedRam[ram]" (change)="onFiltersChange($event)"/> {{ram}}
                  </div>
                    
                  <hr>
              </div>
              <div class="text-center">
                  <label><b>Select Harddisk type</b></label>
                  <select [(ngModel)]="selectedHarddiskType" (change)="onFiltersChange($event)">
                      <option *ngFor="let c of harddiskTypeValues" value="{{c}}">{{c}}</option>
                  </select>
                  <hr>
              </div>
              <div class="text-center">
                  <label><b>Select Location</b></label>
                  <select [(ngModel)]="selectedLocation" (change)="onFiltersChange($event)">
                      <option value=""></option>
                      <option *ngFor="let c of locationValues" value="{{c.location}}">{{c.location}}</option>
                  </select>
                  <hr>
              </div>

              <div class="text-center">
                  <label><b>Reset Filters</b></label><br>
                  <button class="btn btn-primary" (click)="ngOnInit()">Reset</button>
                  <br>
              </div>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Servers</h1>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Model</th>
                  <th>RAM</th>
                  <th>HDD</th>
                  <th>Location</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let server of serverList">
                  <td>{{server.id}}</td>
                  <td>{{server.model}}</td>
                  <td>{{server.RAM}}</td>
                  <td>{{server.HDD}}</td>
                  <td>{{server.location}}</td>
                  <td> € {{server.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
