/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~nouislider/distribute/nouislider.min.css";

.bg-dark{
    background-color: #3FB8AF !important;
}


.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem; }
    .ngx-pagination::before, .ngx-pagination::after {
      content: ' ';
      display: table; }
    .ngx-pagination::after {
      clear: both; }
    .ngx-pagination li {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      margin-right: 0.0625rem;
      border-radius: 0; }
    .ngx-pagination li {
      display: inline-block; }
    .ngx-pagination a,
    .ngx-pagination button {
      color: #0a0a0a; 
      display: block;
      padding: 0.1875rem 0.625rem;
      border-radius: 0; }
      .ngx-pagination a:hover,
      .ngx-pagination button:hover {
        background: #e6e6e6; }
    .ngx-pagination .current {
      padding: 0.1875rem 0.625rem;
      background: #2199e8;
      color: #fefefe;
      cursor: default; }
    .ngx-pagination .disabled {
      padding: 0.1875rem 0.625rem;
      color: #cacaca;
      cursor: default; } 
      .ngx-pagination .disabled:hover {
        background: transparent; }
    .ngx-pagination .ellipsis::after {
      content: '…';
      padding: 0.1875rem 0.625rem;
      color: #0a0a0a; }
    .ngx-pagination a, .ngx-pagination button {
      cursor: pointer; }
  
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before { 
    content: '«';
    display: inline-block;
    margin-right: 0.5rem; }
  
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    content: '»';
    display: inline-block;
    margin-left: 0.5rem; }
  
  .ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); }